.SaveditemContainer {
    width: 60%;
    height: 100%;
    margin-right: 330px;
    text-align: center;
    padding: 15px;
}

.SavFirstSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 22px;
}


.SavFirstSection h4 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 140.69%;
    /* identical to box height, or 22px */
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #3a2d2d;
}

.SavFirstSection p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 146.69%;
    /* identical to box height, or 22px */
    display: flex;
    align-items: center;
    font-weight: 600;
    color: rgba(103, 159, 210, 1);

}


.Savbutton {
    width: 150px;
    height: 30px;
    padding-bottom: 25px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    /* or 150% */
    text-align: center;
    background-color: #2972B5;
    border-radius: 6px;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
}

.Savbutton:hover {
    background-color: #115697;
    color: #ffffff
}

.Savsearcheng {
    border: 1.5px solid #403939;
    border-radius: 2.5px;
    width: 300px;
    height: 30px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    background-color: #e6dede;
    border-radius: 4px;
    border: none;

    color: #403939;

}

.SavpSection p {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 650;
    font-style: Medium;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: -640px;
    padding-top: 20px;


}


@media (max-width: 767px) {

    /* 1. CONTAINER MODIFICATIONS */
    .SaveditemContainer {
         width: 100%; /* Full width */
        margin-left: -115px; /* Remove sidebar offset */
        padding: 10px;
        box-sizing: border-box;
        padding-top: 10px; /* Reduce top padding */
        margin-top: 30px;
    }

    /* 2. HEADER/SEARCH SECTION */
    .SavFirstSection {
        flex-wrap: wrap; 
        justify-content: center;
        margin: 10px 0; 
        gap: 7px;
        margin-left: 0; 
        padding: 0 5px;
    }

    .SavFirstSection h4,
    .SavFirstSection p {
        /* Adjust font size for better fit */
        font-size: 14px;
        margin: 0;
    }

    /* Make search and button fit nicely */
    .Savsearcheng {
      width: 50%; /* Input takes most of the space */
        height: 30px;
        font-size: 12px;
        order: 4; 
    }

    .Savbutton {
        width: 30%;
        height: 30px;
        padding-bottom: 0;
        line-height: 30px;
        font-size: 12px;
        order: 5;
        /* margin-left: 30px; */
        padding-left: 200px;
        padding-right: 240px;
    }

    /* 3. PRIMARY HEADING/PARAGRAPH */
    .SavpSection p {
        /* Reset all desktop offsets */
        margin-left: 0;
        padding-top: 10px;

        /* Adjust alignment and style for mobile */
        justify-content: flex-start;
        /* Align text to the left */
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        padding-bottom: 5px;
    }
}